body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #198bd8;
    color: #ffffff;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 30px;
    background-color: #1f1f1f;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #00bcd4;
}

h2 {
    font-weight: normal;
    color: #a14646;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #a28fd4;
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #00bcd4;
    color: #eb0404;
    cursor: pointer;
}

button:hover {
    background-color: #0097a7;
}